body {
	background-image: url('../img/background.jpg');
	background-size: cover;
}

.header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	padding-bottom: 30px;
	background-color: rgb(255,255,255);
	border: 2px solid rgb(246,118,120);
}

/* ------------- homepage ------------------ */

.sweetimage {
	float: left;
	width: 45%;
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-right: 0px;
}

.savoryimage {
	float: left;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 0px;
}

.description {
	width: 85%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* ------------- Sweet&Savory SubNav ------------------ */

h2 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.sweet1 {
	float: left;
	width: 24%;
	margin-left: 8%;
	margin-top: 3%;
	clear: both;
}

.sweet2 {
	float: left;
	width: 24%;
	margin-left: 5%;
	margin-top: 3%;
}

.sweet3 {
	float: left;
	width: 24%;
	margin-left: 5%;
	margin-right: 8%;
	margin-top: 3%;
}

.savory1 {
	float: left;
	width: 24%;
	margin-left: 8%;
	margin-top: 3%;
	clear: both;
}

.savory2 {
	float: left;
	width: 24%;
	margin-left: 5%;
	margin-top: 3%;
}

.savory3 {
	float: left;
	width: 24%;
	margin-left: 5%;
	margin-right: 8%;
	margin-top: 3%;
}

.pagenav {
	text-align: right;
	margin-right: 5%;
	padding-top: 600px;
}

/* ------------- Recipe Pages ------------------ */

h3 {
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.image {
	float: right;
	width: 40%;
	margin-right: 8%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.blog {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0px;
	padding-top: 0px;
	border-bottom: 1px solid rgb(246,118,120)
}

.recipe {
	clear: both;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: auto;
}

.ingredients {
	float: left;
	width: 25%;
}

.directions {
	float: left;
	width: 65%;
	margin-left: 20px;
}

/* --------------------- mobile layout -------------------------------------------- */

@media only screen and (max-width: 600px) {

.header {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 90%;
}

/* ------------- homepage ------------------ */

.sweetimage {
	margin-top: 10px;
}

.savoryimage {
	margin-top: 10px;
}

/* ------------- Sweet&Savory SubNav ------------------ */

h2 {
	margin-top: 5px;
}

.sweet1 {
	clear: both;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.sweet2 {
	clear: both;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.sweet3 {
	clear: both;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.savory1 {
	clear: both;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.savory2 {
	clear: both;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.savory3 {
	clear: both;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

/* ------------- Recipe Pages ------------------ */

.ingredients {
	clear: both;
	width: 80%;
}

.directions {
	clear: both;
	width: 80%;
	margin-left: 0px;
}
}